beautifulsoup4
brotlipy
bs4
bzip2
cffi
certifi
charset-normalizer
click
cryptography
flask
idna
itsdangerous
jinja2
libffi
markupsafe
ncurses
openssl
pip
pycparser
pyopenssl
pysocks
python
readline
requests
setuptools
soupsieve
sqlite
tk
tzdata
urllib3
werkzeug
wheel
xz
zlib
