* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.job-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    min-height: 100vh;
    /* background: #3c2846; */
    background: #fff;
}

.job-card {
    background: #287bff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 320px;
    height: 450px;
    margin: 30px;
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: 0 15px 0 #fff,
            inset 0 -15px 0 rgba(255, 255, 255, 0.24),
            0 45px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
     
}

.job-card::before {
    content: "";
    position: absolute;
    top: -140px;
    left: -40%;
    padding: 0;
    width: 100%;
    height: 120%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
    transform: rotate(35deg);
    pointer-events: none;
    filter: blur(5px);
}

.job-card:nth-child(3n+1) {
    background: linear-gradient(to bottom, #ff2ae0, #645bf6);
}

.job-card:nth-child(3n+2) {
    background: linear-gradient(to bottom, #ffec61, #f321d7);
}

.job-card:nth-child(3n+3) {
    background: linear-gradient(to bottom, #24ff72, #9a4eff);
}

.job-card .job-icon {
    position: relative;
    width: 140px;
    height: 120px;
    /* background: #3c2846; */
    background: #fff;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 15px 0 rgba(0, 0, 0, 0.1),
            inset 0 -8px 0 #fff;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.job-card .job-icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-right-radius: 50px;
    /* box-shadow: 15px -15px 0 15px #3c2846; */
    box-shadow: 15px -15px 0 15px #fff;
}

.job-card .job-icon::after {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-left-radius: 50px;
    /* box-shadow: -15px -15px 0 15px #3c2846; */
    box-shadow: -15px -15px 0 15px #fff;
}

.job-card .job-icon ion-icon {
    color: #fff;
    position: relative;
    font-size: 6em;
    z-index: 1000;
    --ionicon-stroke-width: 24px;
}


.job-card .job-content {
    position: absolute;
    width: 100%;
    padding: 30px;
    padding-top: 150px;
    text-align: center;
}

.job-company {
    font-size: 1.8em !important;
    color: #fff;
    margin-bottom: 15px;
}

.job-location {
    color: #fff;
    line-height: 1.5em;
}

.job-note {
    font-size: 1em;
}

.job-card .job-content h2, h3, p {
    padding: 10px;
}

.job-guide {
    color: #000;
    margin: 50px 20px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

.search-bar {
    width: 250px !important;
}